.container {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
  
.card {
    width: 475px;
    height: 250px;
    box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /*   -webkit-filter: contrast(20);
      filter: contrast(20); */
  }
  
  .card > .blob {
    background: #85def2;
    height: 25%;
    width: 12.5%;
    border-radius: 100%;
    filter: blur(15px);
    /*   mix-blend-mode: multiply; */
    /*   mix-blend-mode: color; */
    position: absolute;
  }
  